.not-valid {
    background: #CF0000;
    background: linear-gradient(to right, #CF0000 0%, #CF3EA8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d82c50",endColorstr="#f3628a",GradientType=1);
    font-size: 48px;
    font-weight: 700;
}
.yes-valid {
    background: #168027;
    background: linear-gradient(to right, #168027 0%, #29CF77 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: 700;
}

.valid-btn {
  line-height: 42px;
  padding-left: 30px;
  padding-right: 60px;
  border-radius: 25px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  background-image: -webkit-linear-gradient(0deg, #168027 0%, #26Cf77 100%);
}